
@{
    ViewData["Title"] = "Create";
}
<h2>Create in Product</h2>
<form method="post" action="Save">
    Name:<input type="text" name="Name" />
    Price:<input type="text" name="Price" />
    <input type="submit" value="Submit" />
</form>